spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jackson:
    date-format: dd-MM-yyyy

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
springdoc:
  api-docs:
    path: /v1/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
security:
  jwt:
    secret-key: xvOWkL0JXbP2phlhCKyrTAiTGwXwVGjkPbmXcswZrsQ=
    expiration-time: 604800000
    refresh-expiration-time: 604800000    # 7 days

upload:
 dir: C:\Users\asus\IdeaProjects\project-managment-backend\project_management\src\main\java\com\project_app\project_management\storage\uploads

server:
  port: 8080